.worker {
    display: grid;
    grid-template-areas: "name"
                         "jobs";
    grid-template-columns: auto;
    border: 1px solid black;
    font-size: 25px;
    width: 100%;
}

.worker .name {
    grid-area: name;   
    font-size: 35px;
    font-weight: bold;   
    background-color: darkslategrey;
    color: white;
    padding-left: 5px;
    padding-bottom: 5px;
}

.worker .name i {
    font-size: 35px;
}

.worker .jobs {
    grid-area: jobs;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    padding: 3px;
    padding-bottom: 7px;
}
