.order-status-date-label {
    width: 100%;
    text-align: center;
    background-color: darkslategrey;
    color: white;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 30px;
}

.order-status-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

