#sales-container {
    display: grid;
    grid-template-areas: "sales-chart sales-table";
    grid-template-columns: 50% 50%;
    margin-left: 5px;
    margin-right: 5px;
}

#sales-container #chart {
    grid-area: sales-chart;
}

#sales-container #table {
    grid-area: sales-table;
}

.survey-cards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 7px;
}
