.worker {
    display: grid;
    grid-template-areas: "location name"
                         "location jobs";
    grid-template-columns: 15% auto;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    margin: 5px;
    font-size: 25px;
}

.worker .location {
    grid-area: location;
}

.worker .location iframe {
    height: 100%;
    width: 100%;
}

.worker .name {
    grid-area: name;   
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;   
    background-color: darkslategrey;
    color: white;
    padding-left: 5px;
}

.worker .jobs {
    grid-area: jobs;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    margin: 5px;
}

.jobs .job-card {
    display: grid;
    grid-template-areas: "header   header   header"
                         "customer customer customer"
                         "timing   timing   timing";
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.job-card .header {
    grid-area: header;
    display: grid;
    grid-template-areas: "type-icon type status";
    grid-template-columns: 15% auto auto;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

.header .type {
    grid-area: type;
    
}

.header .type-icon {
    grid-area: type-icon;
}

.header .status {
    grid-area: status;
    text-align: right;
}

.job-card .customer {
    grid-area: customer;
    border-bottom: 1px solid black;
    padding: 5px;
}

.job-card .timing {
    grid-area: timing;
    display: grid;
    grid-template-areas: "timing-icon timing-label timing-icon2";
    grid-template-columns: 10% auto 10%;
    align-items: center;
    padding: 5px;
}

.timing .timing-icon {
    grid-area: timing-icon;
}

.timing .timing-label {
    grid-area: timing-label;
    text-align: center;
}

.timing .timing-icon2 {
    grid-area: timing-icon2;
    margin-left: auto;
}
