#container .office {
    margin: 7px;
    padding: 5px;
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-areas: "gdn-map gdn-details gdn-details";
    border: 1px solid black;
}

#container .map {
    grid-area: gdn-map;
}

#container .details {
    grid-area: gdn-details;
}