* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

i {
    font-size: 80px;
}

button i {
    font-size: 48px;
}

.shadow {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.controls {
    display: none;
}

.view {
    display: none;
}

.show {
    display: block;
}

.danger {
    background-color: #fd9c81;
}

.warning {
    background-color: #fbdc9d;
}

.success {
    background-color: #83d2c7;
}

.info {
    background-color: lightsteelblue;
}